<?xml version="1.0" encoding="utf-8" ?>
<config>
	<fieldset
		name="tables"
		label="COM_EASYTABLEPRO_PREF__TAB_DEFAULT_SETTINGS"
		description="COM_EASYTABLEPRO_PREF__TAB_DEFAULT_SETTINGS_DESC">

		<field
			name="title_links_to_table"
			type="radio" default="0"
			label="COM_EASYTABLEPRO_PREF_TITLE_LINKS_TO_TABLE"
			description="COM_EASYTABLEPRO_PREF_TITLE_LINKS_TO_TABLE_DESC"
		>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field
			name="show_description"
			type="radio"
			default="1"
			label="COM_EASYTABLEPRO_PREF_SHOW_TABLE_DESCRIPTION"
			description="COM_EASYTABLEPRO_PREF_SHOW_TABLE_DESCRIPTION_DESC"
		>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field
			name="show_search"
			type="radio" default="1"
			label="COM_EASYTABLEPRO_PREF_SHOW_TABLE_SEARCH"
			description="COM_EASYTABLEPRO_PREF_SHOW_TABLE_SEARCH_DESC"
		>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field
			name="show_pagination"
			type="radio" default="1"
			label="COM_EASYTABLEPRO_PREF_ENABLE_TABLE_PAGINATION"
			description="COM_EASYTABLEPRO_PREF_ENABLE_TABLE_PAGINATION_DESC"
		>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field
			name="show_pagination_header"
			type="radio" default="1"
			label="COM_EASYTABLEPRO_PREF_SHOW_PAGES_DESC"
			description="COM_EASYTABLEPRO_PREF_PAGINATION_CONTROLS_DESC"
		>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field
			name="show_pagination_footer"
			type="radio" default="1"
			label="COM_EASYTABLEPRO_PREF_SHOW_TABLE_PAGINATION_FOOTER"
			description="COM_EASYTABLEPRO_PREF_SHOW_TABLE_PAGINATION_FOOTER_DESC"
		>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field
			name="show_next_prev_record_links"
			type="radio" default="1"
			label="COM_EASYTABLEPRO_PREF_NEXT_PREV_LINKS_LABEL"
			description="COM_EASYTABLEPRO_PREF_SHOW_NEXT_PREV_LINKS"
		>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field
			name="show_created_date"
			type="radio" default="0"
			label="COM_EASYTABLEPRO_PREF_SHOW_CREATION_DATE"
			description="COM_EASYTABLEPRO_PREF_SHOW_CREATION_DATE_DESC"
		>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field
			name="show_modified_date"
			type="radio" default="0"
			label="COM_EASYTABLEPRO_PREF_SHOW_MODIFIED_DATE"
			description="COM_EASYTABLEPRO_PREF_SHOW_MODIFIED_DATE_DESC"
		>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field
			name="modification_date_label"
			type="text"
			label="COM_EASYTABLEPRO_PREF_MODIFICATION_DATE_LABEL"
			default=""
			description="COM_EASYTABLEPRO_PREF_USER_MOD_DATE_LABEL_DESC" 
		/>
		<field
			name="make_tables_sortable"
			type="radio" default="0"
			label="COM_EASYTABLEPRO_PREF_MAKE_TABLES_SORTABLE"
			description="COM_EASYTABLEPRO_PREF_MAKE_TABLE_SORTABLE_DESC"
		>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
		<field
			name="spacer1"
			type="spacer"
			hr="true"
		/>
		<field
			name="show_linked_table"
			type="radio" default="0"
			label="COM_EASYTABLEPRO_PREF_SHOW_LINKED_TABLE"
			description="COM_EASYTABLEPRO_PREF_SHOW_LINKED_TABLE_DESC"
		>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
    </fieldset>

    <fieldset name="advanced"
              label="COM_EASYTABLEPRO_PREF__TAB_ADVANCED_SETTINGS"
              description="COM_EASYTABLEPRO_PREF__TAB_ADVANCED_SETTINGS_DESC"
            >
		<field
			name="searchable_by_joomla"
			type="radio" default="1"
			label="COM_EASYTABLEPRO_PREF_SEARCHABLE_IN_JOOMLA"
			description="COM_EASYTABLEPRO_PREF_SEARCHABLE_IN_JOOMLA_DESC"
		>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</field>
        <field
                name="spacer2"
                type="spacer"
                hr="true"
                />
        <field
                name="enable_ajax_tables"
                type="radio" default="1"
                label="COM_EASYTABLEPRO_PREF_AJAX"
                description="COM_EASYTABLEPRO_PREF_AJAX_DESC"
                >
            <option value="1">Yes</option>
            <option value="0">No</option>
        </field>
        <field
                name="load_jquery_from_google"
                type="radio" default="1"
                label="COM_EASYTABLEPRO_PREF_LOAD_JQUERY"
                description="COM_EASYTABLEPRO_PREF_LOAD_JQUERY_DESC"
                >
            <option value="1">Yes</option>
            <option value="0">No</option>
        </field>
        <field
                name="load_jquery_version"
                type="list" default="1.9.1"
                label="COM_EASYTABLEPRO_PREF_LOAD_JQUERY_VERSION"
                description="COM_EASYTABLEPRO_PREF_LOAD_JQUERY_VERSION_DESC"
                >
            <option value="1.9.1">1.9.1</option>
            <option value="1.8.3">1.8.3</option>
            <option value="1.7.2">1.7.2</option>
        </field>
        <field
                name="load_jqueryui_from_google"
                type="radio" default="1"
                label="COM_EASYTABLEPRO_PREF_LOAD_JQUERYUI"
                description="COM_EASYTABLEPRO_PREF_LOAD_JQUERYUI_DESC"
                >
            <option value="1">Yes</option>
            <option value="0">No</option>
        </field>
        <field
                name="load_jqueryui_version"
                type="list" default="1.10.1"
                label="COM_EASYTABLEPRO_PREF_LOAD_JQUERY_VERSION"
                description="COM_EASYTABLEPRO_PREF_LOAD_JQUERY_VERSION_DESC"
                >
            <option value="1.10.1">1.10.1</option>
            <option value="1.9.2">1.9.2</option>
            <option value="1.8.24">1.8.24</option>
        </field>
        <field
                name="spacer3"
                type="spacer"
                hr="true"
                />
        <field
                name="uninstall_type"
                type="radio" default="0"
                label="COM_EASYTABLEPRO_PREF_UNINSTALL_TYPE"
                description="COM_EASYTABLEPRO_PREF_UNINSTALL_TYPE_DESC"
                >
            <option value="1">COM_EASYTABLEPRO_PREF_UNINSTALL_COMPLETE</option>
            <option value="0">COM_EASYTABLEPRO_PREF_UNINSTALL_PARTIAL</option>
        </field>
	</fieldset>

	<fieldset name="processing"
		label="COM_EASYTABLEPRO_PREF__TAB_PROCESSING_SETTINGS"
		description="COM_EASYTABLEPRO_PREF__TAB_PROCESSING_SETTINGS_DESC"
	>

		<field
			name="maxFileSize"
			type="text" default="3000000"
			label="COM_EASYTABLEPRO_SETTINGS_MAXFILESIZE_LABEL"
			description="COM_EASYTABLEPRO_SETTINGS_MAXFILESIZE_DESC"
		/>

		<field
			name="chunkSize"
			type="text" default="50"
			label="COM_EASYTABLEPRO_SETTINGS_CHUNKSIZE_LABEL"
			description="COM_EASYTABLEPRO_SETTINGS_CHUNKSIZE_DESC"
		/>

		<field
			name="restrictedTables"
			type="textarea" default=""
			label="COM_EASYTABLEPRO_SETTINGS_RESTRICTED_TABLES_LABEL"
			description="COM_EASYTABLEPRO_SETTINGS_RESTRICTED_TABLES_DESC"
			class="inputbox"
			rows="8"
			cols="64"
		/>
	</fieldset>

	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>

		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_easytablepro"
			section="component" />
	</fieldset>
</config>
